  <div class="text-center">
    <h1>---------</h1>
    <h1>You have successfully registered !</h1>
    <h2>TO  POPO'S 炒饭+</h2>
    <h3>Dear <%= user.name %>, Thank you for choosing us!</h3>
    <a href="/users/logout" class="btn btn-primary btn-circle">Logout</a>
    <a href="/setting" class="btn btn-primary btn-circle" style="margin: 2px;"" >Setting</a>
    <a href="https://popo-axpej.mongodbstitch.com/" class="btn btn-info">Visit our website </a>
  </div>